body {
  background-color: rgba(128, 128, 128, 0.148);
}

.title {
  color: rgba(23, 20, 20, 0.731);
  font-size: 44px;

}
.subtitle {
  font-style: normal;
  font-size: 24px;
}

.btn {
  background-color: lightseagreen;
  color: aliceblue;
  width: 70px;
  height: 30px;
  border: white;
  border-radius: 5px;
  
}

.input {
  background-color: rgba(128, 128, 128, 0.434);
  color: rgba(0, 0, 0, 0.712);
  width: 300px;
  height: 30px;
  border: white;
  border-radius: 5px;
  margin-bottom: 0.5rem
}

.hint {
  color: rgba(0, 0, 0, 0.712);
  border: solid grey;
  width: 720px;
  height: 30px;
  color: rgba(0, 0, 0, 0.712);
  font-size: 22px;
  
}
.tries {
  color: rgba(0, 0, 0, 0.712);
  border: solid grey;
  width: 720px;
  height: 30px;
  color: rgba(0, 0, 0, 0.712);
  font-size: 22px;
}
